* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* .debug * {
    border: 1px solid red;
} */

.flex {
    display: flex;
    flex-wrap: wrap;
}

p,
span,
a,
h1 {
    text-align: center;
}

/* HEADER */

header {
    position: sticky;
    height: 2rem;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: black;
}

.speaker_view {
    justify-content: flex-end;
    padding: 0.25rem
}

/* MEMBERS GRID */

main {
    /* height: 960px; */
    height: calc(100vh - 6rem);
    overflow-y: auto;
}

.members_grid {
    justify-content: center;
    margin: 0 auto;
}

.member_card {
    margin: 0.5rem;
    width: 250px;
}

/* FOOTER NAVBAR */

nav {
    position: sticky;
    height: 4rem;
    padding: 0.2rem;
    bottom: 0;
    left: 0;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
}

.menu {
    flex-grow: 2;
    justify-content: center;
}

.record {
    justify-content: flex-end;
}