* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --zzom-dark: #000000;
    --zoom-controls: #222222;
    --zoom-speaker: #4a4a4a;
    --zoom-active: #4bc800;
    --zoom-light: #ffffff;
    --zoom-userbg: rgba(177, 178, 181, 0.50);
}

body {
    background-color: var(--zzom-dark);
    font-family: Helvetica, Arial, sans-serif;
}

/* .debug * {
    border: 1px solid red;
} */

.flex {
    display: flex;
    flex-wrap: wrap;
}

p,
span,
a,
h1 {
    color: var(--zoom-light);
    text-align: center;
}

p,
span,
a {
    font-size: 0.9rem;
}

a {
    text-decoration: none;
}

/* #region HEADER */

header {
    position: sticky;
    height: 2rem;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--zzom-dark);
}

.speaker_view {
    justify-content: flex-end;
    /* padding: 0.3rem; */
}

.speaker_view a {
    display: inline-block;
    padding: 0.25rem;
    margin: 0.3rem;
    background-color: var(--zoom-speaker);
    border-radius: 10%;
}

/* #endregion HEADER */

/* #region MEMBERS GRID */

main {
    height: calc(100vh - 6rem);
    overflow-y: auto;
}

.members_grid {
    justify-content: center;
    margin: 0 auto;
}

.member_card {
    margin: 0.5rem;
    width: 250px;
    position: relative;
}

.member_card img {
    display: block;
}

span.name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--zoom-userbg);
    padding: 0.2rem;
    line-height: 1.2rem;
}

/* #endregion MEMBERS GRID */

/* #region FOOTER NAVBAR */

footer {
    background-color: var(--zoom-controls);
    text-align: center;
}

nav {
    position: sticky;
    height: 5rem;
    padding: 0.2rem;
    bottom: 0;
    left: 0;
    z-index: 10;
    justify-content: space-between;
    align-items: center;

}

.menu {
    flex-grow: 2;
    justify-content: center;
}

.record {
    justify-content: flex-end;
}

.control {
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
}

.active {
    color: var(--zoom-active);
}

.options {
    display: flex;
    align-items: center;
}

.control:hover h1 {
    text-shadow: #4a4a4a;
}

/* #endregion FOOTER NAVBAR */